.about__wrapper {
  margin: auto 12px;
}

.about__title {
  margin: 0 auto 24px;
}

.about__pic {
  justify-content: center;
  margin-bottom: 24px;
}

.about__text {
  font-size: 13px;
  text-align: center;
  margin-bottom: 29px;
}
