.contact__wrapper {
  box-sizing: border-box;
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto 20px;

  @media (min-width: $mobile-width-2) {
    max-width: 575px;
  }
}

.contact__title {
  margin: 0 0 38px;

  @media (min-width: $mobile-width-2) {
    margin-bottom: 82px;
  }
}

.contact__pic {
  justify-content: center;
  margin-left: 21px;
  margin-bottom: 38px;

  @media (min-width: $mobile-width-2) {
    margin-left: 12px;
    margin-bottom: 34px;
  }
}

.contact__text {
  text-align: center;
  margin-bottom: 31px;

  @media (min-width: $mobile-width-2) {
    font-size: 16px;

    margin-bottom: 57px;
    padding: 0 23px;

    br {
      display: none;
    }
  }
}

.contact__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-width-2) {
    flex-direction: row;
    position: relative;
    max-width: 512px;
    margin: 0 auto;
  }
}

.contact__input {
  box-sizing: border-box;
  width: 291px;
  height: 50px;
  border: 1px solid $main-text;
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 0 25px;

  font-size: 12px;
  color: $main-text;

  &::placeholder {
    color: $main-text;
    letter-spacing: 0.5px;
  }

  @media (min-width: $mobile-width-2) {
    width: 326px;
    height: 60px;
    padding-right: 33px;
    border-radius: 10px 0 0 10px;
    border-right: none;
    margin-bottom: 0;
    position: relative;
    left: 1px;
    z-index: 1;

    font-size: 13px;
  }
}

.contact__btn {
  width: 290px;
  height: 60px;

  @media (min-width: $mobile-width-2) {
    width: 193px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    z-index: 10;

    font-size: 16px;
  }
}
