.contact__wrapper {
  box-sizing: border-box;
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto 20px;

  @media (min-width: $mobile-width-2) {
    max-width: 575px;
  }

  @media (min-width: $tablet-width) {
    max-width: 740px;
    display: grid;
    grid-template-columns: 233px 1fr;
    grid-template-rows: 50px 89px 1fr;
    grid-template-areas: "picture title"
                         "picture text"
                         "picture form";
    column-gap: 48px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 951px;
    grid-template-columns: 312px 1fr;
    grid-template-rows: 62px 106px 1fr;
    column-gap: 101px;
  }

  @media (min-width: $max-width) {
    max-width: 1350px;
    grid-template-columns: 477px 1fr;
    grid-template-rows: 96px 112px 1fr;
    column-gap: 98px;
  }
}

.contact__title {
  margin: 0 0 38px;

  @media (min-width: $mobile-width-2) {
    margin-bottom: 82px;
  }

  @media (min-width: $tablet-width) {
    grid-area: title;
    line-height: 40px;
    text-align: left;
    margin-bottom: -1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 14px;
    margin-bottom: 0;
  }

  @media (min-width: $max-width) {
    margin-left: 0;
  }
}

.contact__pic {
  justify-content: center;
  margin-left: 21px;
  margin-bottom: 38px;

  @media (min-width: $mobile-width-2) {
    margin-left: 12px;
    margin-bottom: 34px;
  }

  @media (min-width: $tablet-width) {
    grid-area: picture;
    width: 233px;
    height: 210px;
    margin-left: 12px;
    margin-top: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 312px;
    height: 281px;
    margin-top: -16px;
    margin-left: -8px;
  }

  @media (min-width: $max-width) {
    width: 477px;
    height: 429px;
    margin-top: -54px;
    margin-left: -13px;
  }
}

.contact__text {
  text-align: center;
  margin-bottom: 31px;

  @media (min-width: $mobile-width-2) {
    font-size: 16px;

    margin-bottom: 57px;
    padding: 0 23px;

    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    grid-area: text;
    text-align: left;
    font-size: 14px;
    padding: 0 50px 0 0;
    margin-left: 2px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    padding-right: 70px;
    margin-left: 0;
  }

  @media (min-width: $max-width) {
    font-size: 20px;
    padding-right: 0;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-width-2) {
    flex-direction: row;
    position: relative;
    max-width: 512px;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    grid-area: form;
    margin-left: 0;

    max-width: none;
  }
}

.contact__input {
  box-sizing: border-box;
  width: 291px;
  height: 50px;
  border: 1px solid $main-text;
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 0 25px;

  font-size: 12px;
  color: $main-text;

  &::placeholder {
    color: $main-text;
    letter-spacing: 0.5px;
  }

  @media (min-width: $mobile-width-2) {
    width: 326px;
    height: 60px;
    padding-right: 33px;
    border-radius: 10px 0 0 10px;
    border-right: none;
    margin-bottom: 0;
    position: relative;
    left: 1px;
    z-index: 1;

    font-size: 13px;
  }

  @media (min-width: $tablet-width) {
    width: 283px;
    height: 50px;
    margin-right: 6px;
    border-radius: 5px;
    border-right: 1px solid $main-text;
    padding: 0 21px;

    font-size: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 323px;
    height: 60px;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: -1px;
    padding: 6px 36px 0;

    font-size: 14px;
  }

  @media (min-width: $max-width) {
    width: 450px;
    height: 80px;
    padding: 0 33px;

    font-size: 16px;
  }
}

.contact__btn {
  width: 290px;
  height: 60px;

  @media (min-width: $mobile-width-2) {
    width: 193px;
    padding-top: 9px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    z-index: 10;

    font-size: 16px;
  }

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 50px;
    padding-top: 0;
    border-radius: 5px;
    position: relative;

    font-size: 13px;
  }

  @media (min-width: $desktop-width) {
    width: 193px;
    height: 60px;
    border-radius: 10px;
    padding-top: 8px;

    font-size: 16px;
  }

  @media (min-width: $max-width) {
    width: 264px;
    height: 80px;
    padding-top: 0;
    top: -2px;

    font-size: 20px;
  }
}
