.pricing__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $mobile-width-2) {
    max-width: 430px;
  }

  @media (min-width: $tablet-width) {
    max-width: 736px;
  }

  @media (min-width: $desktop-width) {
    min-width: 970px;

    margin-bottom: 40px;
  }

  @media (min-width: $max-width) {
    max-width: 1400px;

    margin-bottom: 80px;
  }
}

.pricing__title {
  margin: 0 0 49px 0;

  @media (min-width: $mobile-width-2) {
    margin-bottom: 53px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $max-width) {
    margin-bottom: 53px;
  }
}

.pricing__items {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.pricing__item {
  margin-bottom: 63px;

  &:nth-child(1) {
    .pricing__pic {
      margin-left: 18px;
    }

    .pricing__text {
      margin-left: 8px;
    }

    @media (min-width: $mobile-width-2) {
      margin-bottom: 71px;

      .pricing__pic {
        margin-left: 0;
      }

      .pricing__subtitle {
        margin-left: 0;
      }

      .pricing__text {
        margin-left: 0;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 0;

      .pricing__pic {
        margin-top: 13px;
        margin-left: -29px;
        margin-bottom: 23px;
      }

      .pricing__subtitle {
        margin-left: 1px;
        margin-bottom: 15px;
      }

      .pricing__text {
        margin-left: 0;
        margin-bottom: 0;
      }
    }

    @media (min-width: $desktop-width) {
      .pricing__pic {
        margin-top: 4px;
        margin-left: -46px;
        margin-bottom: 24px;
      }

      .pricing__subtitle {
        margin-left: -1px;
        margin-bottom: 16px;
      }
    }

    @media (min-width: $max-width) {
      .pricing__pic {
        width: 311px;
        height: 311px;
        margin-left: 35px;
        margin-bottom: 51px;
      }

      .pricing__subtitle {
        margin-left: 10px;
        margin-bottom: 28px;
      }

      .pricing__value {
        margin-left: 8px;
      }

      .pricing__num {
        margin-top: 2px;
        margin-left: 5px;
      }

      .pricing__num {
        top: -1px;
        left: -6px;
      }
    }
  }

  &:nth-child(2) {
    margin-bottom: 70px;

    .pricing__pic {
      margin-bottom: 12px;
    }

    .pricing__subtitle {
      margin-left: -1px;
      margin-bottom: 25px;
    }

    .pricing__value {
      top: -1px;
      left: 0;
    }

    .pricing__num {
      margin-right: 10px;
    }

    .pricing__month {
      margin-top: -4px;
    }

    @media (min-width: $mobile-width-2) {
      margin-bottom: 69px;

      .pricing__pic {
        margin-bottom: 21px;
      }

      .pricing__subtitle {
        margin-bottom: 18px;
      }

      .pricing__text {
        max-width: 350px;
        margin: 0 auto 34px;
      }

      .pricing__value {
        top: -2px;
        left: 7px;
      }

      .pricing__num {
        margin-right: 8px;
      }

      .pricing__month {
        left: 6px;
        top: 2px;
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 0;

      .pricing__pic {
        margin-top: 43px;
        margin-left: -7px;
        margin-bottom: 22px;
        width: 219px;
        height: 168px;
      }

      .pricing__subtitle {
        max-width: 112px;
        margin-left: 7px;
        margin-bottom: 15px;
      }

      .pricing__text {
        margin-left: 7px;
      }

      .pricing__value {
        top: 0;
        left: -1px;
      }

      .pricing__num {
        margin-left: -12px;
      }
    }

    @media (min-width: $desktop-width) {
      .pricing__pic {
        width: 267px;
        height: 195px;
        margin-top: 29px;
        margin-left: 1px;
        margin-bottom: 26px;
      }

      .pricing__subtitle {
        max-width: none;
        margin-left: 19px;
        margin-bottom: 18px;
      }

      .pricing__text {
        margin-left: 20px;
      }

      .pricing__value {
        top: -1px;
        left: 22px;
      }

      .pricing__num {
        margin-left: -5px;
      }

      .pricing__month {
        left: 4px;
        top: 4px;
      }
    }

    @media (min-width: $max-width) {
      .pricing__pic {
        width: 391px;
        height: 283px;
        margin-top: 30px;
        margin-left: -2px;
        margin-bottom: 53px;
      }

      .pricing__subtitle {
        margin-left: 1px;
        margin-bottom: 32px;
      }

      .pricing__text {
        margin-left: 1px;
        max-width: 370px;
      }

      .pricing__value {
        top: 5px;
        left: 5px;
      }

      .pricing__num {
        margin-left: -7px;
      }

      .pricing__month {
        top: 0;
        left: 0;
      }
    }
  }

  &:nth-child(3) {
    .pricing__pic {
      margin-left: -2px;
      margin-bottom: 7px;
    }

    .pricing__subtitle {
      margin-left: 0;
      margin-bottom: 30px;
    }

    .pricing__text {
      margin-bottom: 38px;
    }

    .pricing__value {
      left: 0;
    }

    .pricing__num {
      margin-left: 10px;
    }

    .pricing__month {
      position: relative;
      right: 10px;
      top: -1px;
    }

    @media (min-width: $mobile-width-2) {
      .pricing__pic {
        margin-left: -17px;
        margin-bottom: 15px;
      }

      .pricing__subtitle {
        margin-left: -16px;
        margin-bottom: 20px;
      }

      .pricing__text {
        margin-left: -19px;
        margin-bottom: 32px;
      }

      .pricing__value {
        margin-top: auto;
        left: -8px;
        top: -1px;
      }

      .pricing__num {
        margin-left: 2px;
        font-size: 24px;
        position: relative;
        top: 1px;
        left: 9px;
      }
    }

    @media (min-width: $tablet-width) {
      .pricing__pic {
        margin-top: 8px;
        margin-left: -8px;
      }

      .pricing__subtitle {
        max-width: 100px;
        margin-left: -6px;
        margin-bottom: 9px;
      }

      .pricing__text {
        margin-left: -7px;
      }

      .pricing__num {
        top: 0;
        left: 10px;
      }
    }

    @media (min-width: $desktop-width) {
      .pricing__pic {
        margin-top: -8px;
        margin-left: -12px;
        margin-bottom: 16px;
      }

      .pricing__subtitle {
        max-width: none;
        margin-left: 38px;
      }

      .pricing__text {
        padding-left: 45px;
      }

      .pricing__value {
        margin-right: auto;
        margin-left: auto;
        margin-top: auto;
        left: -8px;
        top: -3px;
      }

      .pricing__num {
        left: 3px;
        margin-left: 9px;
      }

      .pricing__month {
        top: 0;
      }
    }

    @media (min-width: $max-width) {
      .pricing__pic {
        width: 340px;
        height: 340px;

        margin-top: 4px;
        margin-left: 34px;
        margin-bottom: 22px;
      }

      .pricing__subtitle {
        margin-left: -16px;
        margin-bottom: 29px;
      }

      .pricing__text {
        padding-left: 0;
        margin-left: -16px;
      }

      .pricing__value {
        margin-top: auto;
        margin-left: 0;
        top: 2px;
        left: -16px;
      }

      .pricing__num {
        font-size: 30px;
        top: -1px;
        margin-left: -2px;
      }

      .pricing__month {
        top: -2px;
        left: -8px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 205px;
    height: 456px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 296px;
    height: 442px;
  }

  @media (min-width: $max-width) {
    max-width: 430px;
    height: 585px;
  }
}

.pricing__pic {
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.pricing__subtitle {
  margin: 0 0 17px -10px;

  @media (min-width: $mobile-width-2) {
    font-size: 24px;
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
  }

  @media (min-width: $max-width) {
    font-size: 30px;
  }
}

.pricing__text {
  font-size: 13px;
  margin-bottom: 33px;

  @media (min-width: $mobile-width-2) {
    font-size: 14px;
    margin-bottom: 31px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }

  @media (min-width: $max-width) {
    font-size: 20px;
  }
}

.pricing__value {
  width: 170px;
  height: 37px;
  border-radius: 5px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  left: 8px;

  @media (min-width: $mobile-width-2) {
    width: 205px;
    height: 45px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-top: auto;
    left: 3px;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0 0 -2px;
  }

  @media (min-width: $max-width) {
    width: 240px;
  }
}

.pricing__num {
  font-size: 18px;
  color: $accent-text;
  margin-right: 15px;

  @media (min-width: $mobile-width-2) {
    font-size: 22px;
    margin-right: 26px;
    margin-top: -2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-right: 19px;
    margin-top: 0;
  }

  @media (min-width: $max-width) {
    font-size: 30px;
  }
}

.pricing__month {
  color: #546269;

  @media (min-width: $mobile-width-2) {
    font-size: 16px;
    position: relative;
    left: -6px;
  }

  @media (min-width: $max-width) {
    font-size: 18px;
  }
}
