body {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: $main-text;
  margin: 0;
}

a,
a:hover {
  text-decoration: none;
  color: #000000;
}

a:active,
a:visited {
  color: #000000;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

picture {
  display: flex;
}

h1 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #000;
  text-align: center;

  @media (min-width: $mobile-width-2) {
    font-size: 34px;
    line-height: 45px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 48px;
    line-height: 64px;
  }

  @media (min-width: $max-width) {
    font-size: 64px;
    line-height: 80px;
  }
}

h2 {
  font-size: 24px;
  line-height: 80px;
  font-weight: 600;
  color: #000000;
  text-align: center;

  @media (min-width: $mobile-width-2) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
  }

  @media (min-width: $max-width) {
    font-size: 48px;
  }
}

h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: $accent-text;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
  }

  @media (min-width: $max-width) {
    font-size: 30px;
  }
}

p {
  margin: 0;
}
