// Colors text
$main-text: #8F95A5;
$accent-text: #263238;

// Colors background
$secondary-background: #F5F5F5;
$accent-background: #263238;

// Viewports
$mobile-width: 320px;
$mobile-width-2: 575px;
$tablet-width: 767px;
$desktop-width: 992px;
$max-width: 1600px;
