.btn {
  border: none;
  outline: none;
  background-color: $accent-background;
  width: 178px;
  height: 50px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;

  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;

  &:hover {
    color: rgba(255, 255, 255, 0.9);
    transition: 0.3s color;
  }

  @media (min-width: $mobile-width-2) {
    width: 200px;
  }

  @media (min-width: $tablet-width) {
    width: 178px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 196px;
    height: 57px;

    font-size: 18px;
  }

  @media (min-width: $max-width) {
    width: 230px;
    height: 60px;

    font-size: 20px;
  }
}
