.logo__img {
  width: 71px;
  height: 36px;

  @media (min-width: $mobile-width-2) {
    width: 89px;
    height: 45px;
  }

  @media (min-width: $max-width) {
    width: 106px;
    height: 54px;
  }
}
