.mobile-menu--opened {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.mobile-menu__wrapper {
  max-width: 290px;
  padding-top: 32px;
  margin: 0 auto;
  height: 100vh;

  @media (min-width: $mobile-width-2) {
    max-width: 510px;
    padding-top: 47px;
  }

  @media (min-width: $tablet-width) {
    max-width: unset;
    padding-top: 38px;
    width: 364px;
    margin: 0 27px;
  }
}

.mobile-menu__top {
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 64px;

  @media (min-width: $mobile-width-2) {
    padding-bottom: 39px;
    margin-bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 16px;
    margin-bottom: 49px;
  }
}

.mobile-menu__logo-link {
  margin-left: 1px;
}

.mobile-menu__logo-img {
  @media (min-width: $mobile-width-2) {
    width: 89px;
    height: 45px;
  }
}

.mobile-menu__close {
  position: relative;
  cursor: pointer;
  top: 9px;
  left: 2px;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 22px;
    height: 3px;
    border-radius: 3px;
    transition: none;
    background-color: #39515e;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: $mobile-width-2) {
    top: 25px;
    left: 2px;

    &::before,
    &::after {
      width: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    top: 2px;
    left: 4px;
  }
}

.mobile-menu__list {
  list-style: none;
  padding-left: 0;
  margin: 0 0 85px -1px;

  font-size: 22px;
  font-weight: 500;
  color: $accent-text;

  @media (min-width: $mobile-width-2) {
    margin-left: 0;
    margin-bottom: 95px;

    font-size: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;

    font-size: 22px;
  }
}

.mobile-menu__item {
  margin-bottom: 32px;

  @media (min-width: $mobile-width-2) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.mobile-menu__talk-link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 291px;
  height: 65px;
  background-color: #fff;
  color: #000000;
  border: 2px solid $accent-background;
  border-radius: 5px;
  padding-bottom: 2px;

  font-size: 20px;

  @media (min-width: $mobile-width-2) {
    width: 330px;
    height: 70px;
    padding-bottom: 0;

    font-weight: 400;
    font-size: 22px;
  }

  @media (min-width: $tablet-width) {
    width: 210px;
    height: 60px;

    font-size: 18px;
  }
}
